@CHARSET "UTF-8";

#formAddGroup{
	align:right;
	margin-bottom:60px;  
}
legend{
	text-align: left;
}
.control-label.col-sm-4{
	padding-right: 30px;
}
#addButton{
	background-color: #2E71AC;
	 color: #ffffff;  
}
#formAddGroup {
	margin: 0 auto;
 	padding-top: 80px;
 	width: 40%;
} 