@CHARSET "UTF-8";

.form-horizontal .control-label {
	padding-right: 1em;
	width: 38%;
	text-align: right;
	float: left;
}

.form-horizontal .form-group:nth-child(7) .control-label-input {
	padding-top: 0.55em;
}

.form-horizontal .form-group:nth-child(6) .control-label-input {
	padding-top: 0.55em;
}

#testsFileConstraint {
	font-size: 0.65em;
	color: red;
	float: left;
	padding-top: 0.4em;
	padding-left: 0.2em;
}

.form-horizontal .control-label:last-child {
	margin-bottom: 0;
	text-align: right;
}

.form-horizontal .control-label-input {
	width: 50%;
	float: left;
	padding-left: 1em;
}

.form-horizontal .form-group:nth-child(6) .control-label-input {
	padding-top: 0.4em;
}

.form-horizontal .form-group:last-child {
	width: 95%;
	padding-left: 13.3em;
}

#formAddHomework {
	margin: 0 auto;
	padding-top: 3.750em;
	width: 42%;
}

legend {
	text-align: left;
}

.form-group {
	padding-left: 3.750em auto;
}

#addButton {
	background-color: #2E71AC;
	text-align: center;
	color: #ffffff;
}

@media ( max-width :1000px) {
	#formAddHomework {
		width: 60%;
	}
}

@media ( max-width :992px) {
	.form-horizontal .form-group:last-child {
		width: 95%;
		padding-left: 13.9em;
	}
}

@media ( max-width :800px) {
	.form-horizontal .control-label {
		margin-bottom: 0;
		text-align: right;
	}
	#formAddHomework {
		width: 70%;
	}
	.form-horizontal .form-group:last-child {
		width: 94%;
		padding-left: 15.8em;
	}
}

@media ( max-width :789px) {
	.form-horizontal .form-group:last-child {
		width: 95%;
		padding-left: 12.3em;
	}
}

@media ( max-width :589px) {
	#formAddHomework {
		width: 90%;
	}
	.form-horizontal .control-label {
		width: 100%;
		margin-bottom: 0;
		text-align: left;
		padding-left: 2em;
	}
	.form-horizontal .control-label-input {
		width: 90%;
		float: center;
		padding-left: 2em;
	}
	.form-horizontal .form-group:last-child {
		width: 100%;
		padding-left: 2em;
	}
}
}