@CHARSET "UTF-8";
#formAddHomework:after {
    content:'';
    display:block;
   clear:both;
}
#formAddHomework {
	margin: 0 auto;
 	padding-top: 3.750em;
	width: 50%;
	text-align: right;
}

legend{
	 text-align: left;
}

.control-label.col-sm-4{
	padding-right: 1.875em;
}

#addButton{
	background-color: #2E71AC;
	 color: #ffffff;
}
 
@media ( max-width :992px) {
	.form-group {
		margin-bottom: 0.938em;
		width: 100%;
		text-align: left;
	}
	.control-label.col-sm-4 {
		padding-right: 1.875em;
		width: 100%
	}
	legend {
		width: 70%;
	}
} 


@media ( max-width :1000px) {
	
#formAddHomework{
		width:60%;
	}

}


@media ( max-width :800px) {
	
#formAddHomework{
		width:70%;
	}

}

@media ( max-width :590px) {
	
#formAddHomework{
		width:90%;
	}

} 