@CHARSET "UTF-8";

#studentSearch {
	width: 18%;
}

.ui-helper-hidden-accessible {
	display: none;
}
.input-invalid-addStudentToGroup {
    text-align: left;
    color: red;
    width: 20%;
    margin-left: 320px;
}
.form-group {
	padding-right: 50px;
	width: 25%;
}
#listOfStudentsOfGroupHeading{
	    visibility: hidden;
    position: absolute;
    margin-left: 291px;
    margin-top: -10px;
    text-align: center;
    width: 25%;
 }

#listOfStudentsOfGroup {
	visibility: hidden;
	margin-left: 292px;
	margin-top: 25px;
	z-index: 1;
	width: 25%;
 }
ul.ui-autocomplete {
	list-style-type: none;
	text-decoration: none;
	
}

#addStudentToGroupDiv{
	text-align:center;
	margin-top:70px;
}
.input-invalid-addStudentToGroup{
	text-align: left;
}