@CHARSET "UTF-8";

#textareaComment {
	max-width: 30%;
}
/* 
#currTaskSolution {
	max-width: 50%;
}
 */
.input-invalid {
    padding-top: 12px;
    margin-bottom: -3px;
    text-align: left;
}

#currHomework{
 width: 36%;
    float: left; 
	padding-left:100px;
	padding-right:20px;
	padding-top:60px;
	padding-bottom: 100px;
}
.solution{
 width: 52%;
    float: left;
    padding-left: 50px;
    padding-top: 75px;
  padding-bottom: 100px;
}

#teacherComment {
	overflow-y: scroll;
	resize: none;
	width: 330px;
	height: 150px;
	border-size: 2px;
	border-style: groove;
	font-size: 12px;
	font-style: italic;
}
#divTasks{
	padding-bottom: 60px;
}
#tasksTable{
	border-size: 2px;
	border-style: groove;
}
#tasksTable td{
    padding-bottom: 15px;
    padding-top: 19px;
    border-size: 2px;
	border-style: groove;
}

#seeTaskSolutionButton {
	color: #fff;
	background-color: #0086b3;
}

#currTaskSolution,#taskUpload,#currTaskSolution{
	visibility: hidden;
}
.uploadSolutionButton{
	float:right;
	text-decoration:underline;
}