@CHARSET "UTF-8";

/* .footer {
	position: fixed;
	hight: 20px;
	bottom: 0px;
	background-color: #2E71AC;
	margin-left: 0px;
	width: 100%;
	border-color: #080808;
	z-index : 1;
	overflow: visible;
}

.title {
	padding-top: 10px;
	color: #ffffff;
}

.description {
	color: #01A9DB;
}

.row {
	padding-right: 15px;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
}
 */
 