@CHARSET "UTF-8";

.input-invalid-or-empty {
	color: red;
	text-align: left;
}

.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #ccc;
	content: ">" !important;
}

.breadcrumb {
	margin-top: 0.5em;
	margin-bottom: 0.1em !important;
}

html {
	position: relative;
	min-height: 100%;
}

.input-invalid {
	color: red;
	text-align: center;
}

.invalidData {
	color: red;
}

#pageWrapper:after {
	content: '';
	display: block;
	clear: both;
}

#pageWrapper {
	max-width: 73.125em;
	padding-top: 5em;
	margin-left: 1.250em;
	margin-right: 1.250em;
	margin-bottom: 14em;
	margin-left: auto;
	margin-right: auto;
}

@media ( max-width :992px) {
	#pageWrapper {
		width: 53.125em;
		margin-bottom: 24em;
	}
	#solution {
		float: left;
		padding-left: 1em;
		padding-top: 1em;
		height: 43em;
	}
}

@media ( max-width :789px) {
	.breadcrumb {
		margin-top: 0.5em;
		margin-bottom: 1.4em !important;
	}
	#pageWrapper {
		width: 40em;
	}
	@media ( max-width :589px) {
		#pageWrapper {
			width: 22.5em;
		}
	}
	.alert-success {
		margin-top: -1.3em;
	}
	.wrapword {
		white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
		white-space: -webkit-pre-wrap; /*Chrome & Safari */
		white-space: -pre-wrap; /* Opera 4-6 */
		white-space: -o-pre-wrap; /* Opera 7 */
		white-space: pre-wrap; /* css-3 */
		word-wrap: break-word; /* Internet Explorer 5.5+ */
		word-break: break-all;
		white-space: normal;
	}
}