@CHARSET "UTF-8";

.navbar-nav>li>a, .navbar-brand {
 	padding-top: 0.2em !important;
 	height: 20%;
 	padding-left: 4em;
}
.navbar-brand>#img-href{
	height: 85%;
}

.input-invalid-login {
	position: absolute;
    top: 2.8em;
    right: 18.8em;
    color: red;
    font-size: 0.92em;
}
.navbar {
	background-color: #2E71AC ;
	margin-bottom: 0px;
	 min-height: 80px !important; 
}

.navbar-collapse>a.registerPageButton{
	color: #ffffff;
	  float:right;
	  padding-right:4.5em;
    /* padding-top: 2em;  */
    font-size:12px;
    z-index:1;
}
.navbar-nav>li{
	float:right;
	margin-top:1.5em;
	padding-right:1.2em;
}
.navbar-header {
	z-index: 1;
}

#img-href {
	position: absolute;
	z-index: 1;
}
 
.wrapword {
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -webkit-pre-wrap; /*Chrome & Safari */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* css-3 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	word-break: break-all;
	white-space: normal;
}

 @media ( max-width:767px) {
	.navbar-nav>li>a, .navbar-brand {
		display: none;
	}
	.navbar-collapse {
		width: 100%;
		display: inline-block;
		margin: 0 auto;
		margin-left: -2em;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-collapse>a.registerPageButton {
    color: #ffffff;
    float: left;
    padding-left: 12.5em;
    margin-top: -3.55em;
    font-size: 12px;
    z-index:2 !important;
    width:100%;
}
	.navbar-nav>li {
		float: left;
		margin-top: 1.5em;
		padding-left: 7em;
	}
	.input-invalid-login {
    position: absolute;
    top: 9.8em;
    right: 1em;
    color: red;
    font-size: 0.92em;
}
}
  @media ( max-width:500px) {
  .navbar-collapse>a.registerPageButton {
    color: #ffffff;
    float: left;
    padding-left: 12.5em;
    margin-top: -3.55em;
    font-size: 12px;
    z-index:2 !important;
    width:120%;
}
 /* .navbar-collapse>a.registerPageButton {
    color: #ffffff;
    float: left;
    padding-left: 13em;
    margin-top: -3.55em;
    font-size: 6px;
    z-index: 2 !important;
    width: 100%;
} */
/* .input-invalid-login {
    position: absolute;
    top: 9.8em;
    right: 1em;
    color: red;
    font-size: 0.92em;
} */
}