@CHARSET "UTF-8";

#createButtonPosition {
    width:100%;
}

#pageTitle{
	text-align: center;
}
#divTable{
	width: 45%;
	margin:0 auto;
	padding-top: 3em;
	
}
#updateGroupForm{
	padding-top: 0.2em;
		width:40%;
		float:left;
}
#tdContent {
	display: inline-block;
	width:100%;
}

#removeGroupForm {
	float: right;
}
#removeGroupForm button{
		margin-top:0.1em;
		padding:0em 0.1em 0em 0.1em !important;
	}
#resultTable {
	width: 100% !important;
}
#divTable table.dataTable tbody td {
	padding: 0.5em;
	padding-left: 0.8em;
	font-size: 0.95em;
}

#divTable table.dataTable tbody td form .btn {
	padding: 0em 0em 0em 0.3em;
	font-size: 1.03em;
}

#divTable table.dataTable thead th {
	padding: 0.5em;
	padding-left: 1em;
	font-size: 1em;
}

@media ( max-width :1000px) {
	#divTable table.dataTable tbody td form .btn {
		padding: 0em 0em 0em 0em;
		font-size: 1em;
	}
	#divTable table.dataTable thead th {
		padding: 0.5em;
		padding-left: 1em;
		font-size: 1em;
	}
	#divTable {
		width: 70%;
	}
	#removeGroupForm button{
		margin-top:0.3em;
		padding:0em 0.1em 0em 0.1em !important;
	}
}

@media ( max-width :650px) {
	#divTable {
		width: 100%;
	}
	#removeGroupForm button{
		margin-top:0.3em;
		padding:0em 0.1em 0em 0.1em !important;
	}
}}