@CHARSET "UTF-8";

#createButtonPosition {
    position: absolute;
    margin-left: 3px;
    margin-top: 246px;
}

#pageTitle{
	text-align: center;
}
#divTable{
	width: 30%;
	margin:0 auto;
	padding-top: 48px;
	
}
#updateGroupForm{
	padding-left:10px;
}
#removeGroupForm{
	float:right;
	margin-top:-30px;
}
