@CHARSET "UTF-8";

#divTable table.dataTable tbody td {
	padding: 0.5em;
	padding-left: 1em;
	font-size: 1em;
}
#divTable table.dataTable tbody .btn{
	padding: 0em 0px 0px 0.3em !important;
	font-size: 0.98em !important;
}
.dataTables_wrapper {
	padding-bottom: 0.5em;
}

.dataTables_paginate {
	margin-top: -0.7em;
	max-width: 32em;
	font-size: 0.9em;
}

#resultTable_length {
	padding-bottom: 0.5em;
}

#select {
	position: absolute;
	padding-top: 5em;
	margin-left: 3.750;
	width: 80%;
	padding-bottom: 3.750em;
}
#select .bootstrap-select.btn-group .dropdown-menu {
    max-height: 14em !important;
}
#pageTitle {
	text-align: center;
}

#resultTable {
	width: 100% !important;
}

#divTable {
	padding-top: 8em;
	width: 80%;
	display: none;
	margin: 0 auto;
}

#divTable table.dataTable tbody td {
	padding: 0.5em;
	padding-left: 0.8em;
	font-size: 0.95em;
	width: 27%;
}

#divTable table.dataTable thead th {
	padding: 0.5em;
	padding-left: 1em;
	font-size: 1em;
}

#listOfStudentsOfGroup {
	padding-bottom: 3.750em;
}

#listHeading {
	display: none;
	padding-bottom: 0.8em;
}

.list {
	width: 40%;
	float: left;
	display: block;
	padding-left: 4em;
	padding-top: 13.8em;
}

.list>#listOfStudentsOfGroup button {
	font-size: 0.9em;
}

#listOfStudentsOfGroup {
	display: none;
	border-style: double;
	z-index: 1;
	height: 305px;
	width: 80%;
	overflow: hidden;
	overflow-y: scroll;
	overflow-x: scroll;
	padding-bottom: 3.750em;
}

#tableAndStudents {
	width: 100%;
	overflow: hidden;
	display: inline-block;
}

#currTable {
	float: left;
	padding-left: 70px;
	padding-top: 80px;
	padding-bottom: 3.750em;
	width: 60%;
	float: left;
}

#divTable table.dataTable tbody td .btn {
	padding: 0em 0px 0px 0.3em;
	font-size: 0.98em;
}

@media ( max-width :1000px) {
	#divTable table.dataTable tbody td {
		padding: 0.5em;
		padding-left: 0.8em;
		font-size: 0.92em;
	}
	#divTable table.dataTable tbody td .btn {
		padding: 0em 0px 0px 0.3em;
		font-size: 0.92em;
	}
	#divTable table.dataTable thead th {
		padding: 0.5em;
		padding-left: 1em;
		font-size: 0.8em;
	}
	#divTable {
		width: 95%;
	}
	#resultTable_length {
		padding-bottom: 0.5em;
		font-size: 0.7em;
	}
	.list {
		width: 40%;
		float: left;
		display: block;
		padding-left: 4em;
		padding-top: 13.4em;
	}
	 .dataTables_paginate {
		margin-top: -0.7em;
		max-width: 34em;
		font-size: 0.61em;
	} 
	
}

@media ( max-width :900px) {
	.dataTables_paginate {
		margin-top: -0.7em;
		max-width: 58em;
		font-size: 0.8em;
	}
	.dataTables_length {
		float: left;
		font-size: 0.9em;
	}
}

@media ( max-width :650px) {
	#divTable {
		width: 100%;
	}
	#divTable table.dataTable thead th {
		padding: 0.5em;
		padding-left: 1em;
		font-size: 0.68em;
	}
	#divTable table.dataTable thead td {
		font-size: 0.85em;
	}
	#divTable table.dataTable tbody td .btn {
		font-size: 0.8em;
	}
	#divTable table.dataTable tbody td {
		padding: 0px 0px;
		font-size: 0.7em;
	}
	#divTable table.dataTable tbody th {
		padding: 0px 0px;
	}
}

@media
(
max-width
:900px)
{
#tableAndStudents {
	padding-top: 9em;
}

.list>#listOfStudentsOfGroup button {
	font-size: 0.7em;
}

#divTable {
	padding-top: 0em;
}

#currTable {
	width: 100%;
	padding-left: 0em;
	padding-top: 4.5em;
	margin: 0px auto;
}

.list {
	width: 100%;
	padding-left: 0px;
	padding-top: 0em !important;
}

#listHeading {
	text-align: center;
}

.list>#listOfStudentsOfGroup button {
	padding-left: 0px;
	font-size: 0.85em;
}

#listOfStudentsOfGroup {
	display: none;
	border-style: double;
	z-index: 1;
	height: 265px;
	width: 33%;
	margin: 0px auto;
}

}
@media ( max-width :789px) {
	.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_paginate
		{
		float: none !important;
		text-align: center !important;
		padding-top: 0.3em;
	}
	.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter,
		.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing,
		.dataTables_wrapper .dataTables_paginate {
		padding-bottom: 0.7em;
	}
}

@media ( max-width :589px) {
	#currTable {
		width: 100%;
	}
	#listOfStudentsOfGroup {
		width: 65%;
	}
}

@media ( max-width :589px) {
	.dataTables_paginate {
		margin-top: -0.7em;
		max-width: 56em;
		font-size: 0.6em;
	}
	#listOfStudentsOfGroup {
		width: 65%;
	}
}
}