@CHARSET "UTF-8";

#divTable {
	padding-top: 3.125em;
}

#pageTitle{
	 text-align:center; 
	
}
#divTable{
	width:40%; z-index:1;
	
	padding: 0 auto; margin-left:auto;
    margin-right:auto;
}

/* @media ( max-width :992px) {
	
	#divTable{
	width:10%; 
	margin-left: 1em;
}
	
}
@media ( max-width :769px) {
	
	#divTable{
	width:20%; 
	margin-left: 1em;
}
}
@media ( max-width :1300px) {
	#divTable{
	width:30%; 
	margin: 0 auto;
}
} */