@CHARSET "UTF-8";

#formUpdateProfile {
	margin: 0 auto;
	padding-top: 3.750em;
	width: 42%;
}

legend {
	text-align: left;
}

.control-label.col-sm-4 {
	padding-right: 1.875em;
}

.form-group {
	padding-left: 3.750em auto;
}

#updateProfileButton {
	background-color: #2E71AC;
	text-align: center;
	color: #ffffff;
}

/* @media ( max-width :992px) {
	legend {
		width: 70%;
	}
}
 */
@media ( max-width :1000px) {
	#formUpdateProfile {
		width: 60%;
	}
}

@media ( max-width :800px) {
	.form-horizontal .control-label {
		padding-top: 0.438em;
		margin-bottom: 0;
		text-align: left;
	}
	#formUpdateProfile {
		width: 70%;
	}
}

@media ( max-width :590px) {
	#formUpdateProfile {
		width: 90%;
	}
}
}