@CHARSET "UTF-8";

#formUpdate {
	margin: 0 auto;
	padding-top: 80px;
	width: 45%;
}

.multiselect {
	width: 200px;
}

#removeHomeworkForm {
	position: absolute;
	width: 10%;
	padding-left: 818px;
	padding-top: 85px;
}

#downloadHomeworkForm {
	position: absolute;
	padding-left: 540px;
	padding-top: 87px;
	z-index:1;
}

legend{
	text-align: left;
}

.control-label.col-sm-4{
	padding-right: 30px;
}

#updateHomeworkButton{
	background-color: #2E71AC;
	color: #ffffff;
}