@CHARSET "UTF-8";
/* #updateHomeworkForm:after {
    content:'';
    display:block;
   clear:both;
} */
#formUpdate {
	margin: 0 auto;
	padding-top: 3.750em;
	width: 50%;
}

.multiselect {
	width: 12.500em;
}

#readAndRemoveHomework {
    position: absolute;
    display: inline-block;
    left:55%;
    top:16.8em;
    z-index: 1;
    width: 30%;
}
#removeHomeworkForm {
    position: absolute;
    left: 7em;
    top: -0.4em;
    width: 10%;
}
#downloadHomeworkForm {
	width: 10%;
}
 
legend{
	text-align: left;
}

.control-label.col-sm-4{
	padding-right: 1.875em;
}

#updateHomeworkButton{
	background-color: #2E71AC;
	color: #ffffff;
}

@media ( max-width :992px) {
	.form-group {
		margin-bottom: 0.938em;
		width: 100%;
		text-align: left;
	}
	.control-label.col-sm-4 {
		padding-right: 1.875em;
		width: 100%
	}
	/* legend {
		width: 70%;
	} */
} 

@media ( max-width :774px) {
	#downloadHomeworkForm {
	width:5%;
}
} 

#downloadHomeworkForm {
	padding-left:5em;
}
#removeHomeworkForm {
    left: 12em;
}
@media ( max-width :1000px) {
	
#formUpdate{
		width:60%;
	}
#downloadHomeworkForm {
	padding-left:3.3em;
}
#removeHomeworkForm {
    left: 10.6em;
}

}


@media ( max-width :800px) {
	
#formUpdate{
		width:70%;
	}
#downloadHomeworkForm {
	padding-left:3.3em;
}
#removeHomeworkForm {
    left: 11em;
}
}

@media ( max-width :590px) {
	#downloadHomeworkForm button{
		font-size:0.74em;
	}
#formUpdate{
		width:90%;
	}
#downloadHomeworkForm {
    padding-left: 0.3em;
    margin-left: 0.6em;
}
#removeHomeworkForm {
    left: 7em;
}

}
@media ( max-width :330px) {

#readAndRemoveHomework {
    position: absolute;
    display: inline-block;
    left: 57%;
    top: 18.1em;
    z-index: 1;
    width: 30%;
}
}


@media ( min-width :1300px) {

#readAndRemoveHomework {
    position: absolute;
    display: inline-block;
    left: 52.5%;
    z-index: 1;
    width: 30%;
}
}