@CHARSET "UTF-8";

#readAndRemoveHomework {
	position: absolute;
	display: inline-block;
	left: 50%;
	margin-top: 3.8em;
	z-index: 1;
	width: 30%;
}

.form-horizontal .form-group:nth-child(7) .control-label-input {
	padding-top: 0.55em;
}

.form-horizontal .form-group:nth-child(6) .control-label-input {
	padding-top: 0.55em;
}
input[type=file]{
	display:inline-block !important;
}
#testsFileConstraint {
	font-size: 0.65em;
	color: red;
	float: left;
	padding-top: 0.4em;
	padding-left: 0.2em;
}

#removeHomeworkForm {
	position: absolute;
	left: 7em;
	top: -0.4em;
	width: 10%;
}

#downloadHomeworkTestsForm {
	width: 25%;
	margin-top: -1.55em;
	margin-left: -1.5em;
}

#downloadHomeworkForm {
	width: 10%;
}

#downloadHomeworkForm {
	padding-left: 5em;
}

#removeHomeworkForm {
	left: 12em;
}

.form-horizontal .control-label {
	padding-right: 1em;
	padding-top: 0.7em !important;
	width: 38%;
	text-align: right;
	float: left;
}

.form-horizontal .control-label-input {
	width: 50%;
	float: left;
	padding-left: 1em;
}

.form-horizontal .form-group:last-child {
	width: 53.5%;
	padding-left: 0em;
	margin-right: 2em;
}

.form-horizontal .form-group:nth-child(6) .control-label-input {
	padding-top: 0.4em;
}

#formUpdate {
	margin: 0 auto;
	padding-top: 3.750em;
	width: 42%;
}

legend {
	text-align: left;
}

.form-group {
	padding-left: 3.750em auto;
}

#updateHomeworkButton {
	background-color: #2E71AC;
	text-align: center;
	color: #ffffff;
}

@media ( max-width :1000px) {
	#formUpdate {
		width: 60%;
	}
	#downloadHomeworkTestsForm {
		margin-top: -1.57em;
		margin-left: -3.3em;
	}
	#downloadHomeworkForm {
		padding-left: 3.3em;
	}
	#removeHomeworkForm {
		left: 10.6em;
	}
	.form-horizontal .form-group:last-child {
		width: 52%;
		padding-left: 0em;
		margin-right: 3.5em;
	}
}

@media ( max-width :992px) {
	.form-horizontal .form-group:last-child {
		width: 95%;
		padding-left: 13.9em;
	}
}

@media ( max-width :800px) {
	.form-horizontal .control-label {
		padding-top: 0.7em !important;
		margin-bottom: 0;
		text-align: right;
	}
	#formUpdate {
		width: 70%;
	}
	.form-horizontal .form-group:last-child {
		width: 94%;
		padding-left: 15.8em;
	}
	#downloadHomeworkForm {
		padding-left: 3em;
	}
	#removeHomeworkForm {
		left: 10em;
	}
}

@media ( max-width :789px) {
	.form-horizontal .form-group:last-child {
		width: 95%;
		padding-left: 12.3em;
	}
	#downloadHomeworkTestsForm {
		margin-top: -2.57em;
		margin-left: 3em;
	}
}

@media ( max-width :774px) {
	#downloadHomeworkForm {
		width: 5%;
	}
}

@media ( max-width :589px) {
	#readAndRemoveHomework {
		left: 53%;
	}
	#formUpdate {
		width: 90%;
	}
	.form-horizontal .control-label {
		width: 100%;
		padding-top: 0.7em !important;
		margin-bottom: 0;
		text-align: left;
		padding-left: 2em;
	}
	.form-horizontal .control-label-input {
		width: 90%;
		float: center;
		padding-left: 2em;
	}
	.form-horizontal .form-group:last-child {
		width: 100%;
		padding-left: 2em;
	}
	#downloadHomeworkTestsForm button {
		font-size: 0.74em;
	}
	#downloadHomeworkTestsForm {
		margin-top: -2.3em;
		margin-left: 0.89em;
	}
	#downloadHomeworkForm button {
		font-size: 0.74em;
	}
	#downloadHomeworkForm {
		padding-left: 0.3em;
		margin-left: 0.6em;
	}
	#removeHomeworkForm {
		left: 7em;
	}
}

@media ( max-width :330px) {
	#readAndRemoveHomework {
		position: absolute;
		display: inline-block;
		left: 46%;
		top: 18.6em;
		z-index: 1;
		width: 10%;
	}
}

@media ( min-width :1300px) {
	#readAndRemoveHomework {
		position: absolute;
		display: inline-block;
		left: 52.5%;
		z-index: 1;
		width: 30%;
	}
}