@CHARSET "UTF-8";

.form-group {
	margin-left: 60px auto;
}

#formUpdateProfile {
	margin: 0 auto;
	padding-top: 80px;
	width: 42%;
}

legend{
	text-align: left;
}

.control-label.col-sm-4 {
	padding-right: 30px;
}

#updateProfileButton {
	background-color: #2E71AC;
	color: #ffffff;
}